/*  
Skin Name: Purple
Version: 1.0
Description: Skin for Postline
*/

body {
	background-color: #f1edff;
}
a {
	color: #6b56c2;
}

/************************************************************************************
Theme background color
*************************************************************************************/
#headerwrap {
	background-color: #6443ea;
	border-color: #321396;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #ddd;
}
#header a {
	color: #faffb6;
}

/* site logo */
#site-logo a {
	color: #fff;

	text-shadow: 0 1px 0 rgba(0,0,0,.3);
}

/* 
MAIN NAVIGATION
================================================ */
/* main level link */
#main-nav a {
	color: #faffb6;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}
#main-nav a:hover, #main-nav li:hover > a {
	color: #f7f5ff;
}
/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background: #321396;
}

/************************************************************************************
TIMELINE
*************************************************************************************/
.timeline .timeline-bar {
	background: #7b75b8;
}
.timeline .timeline-start-dot {
	background: #7b75b8;
	border-color: #3a357c;
}

/* timeline month title */
.timeline .timeline-month span {
	background: #3a357c;
}

/* timeline post dot */
.timeline .post-dot {
	border-color: #3a357c;
}

/* trigger more button */
.trigger-more {
	background: #3a357c;
}

/************************************************************************************
POST
*************************************************************************************/
/* post nav arrow */
.post-nav span span {
	background-color: #3a357c;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #3a357c;
}
#footer a {
	color: #faffb6;
}
